<main>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/img/corrida.jpg" class="d-block w-100" alt="corrida">
      </div>
      <div class="carousel-item">
        <img src="./assets/img/terror.jpg" class="d-block w-100" alt="terror">
      </div>
      <div class="carousel-item">
        <img src="./assets/img/sport.jpg" class="d-block w-100" alt="esportes">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</main>
<br>
<br>
<section>
  <p>
  <h2>Outros Produtos:</h2>
  <mat-grid-list cols="3">
    <mat-grid-tile><mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <mat-card-title>Old School</mat-card-title>
            <mat-card-subtitle>R$200,00</mat-card-subtitle>
          </div>
        </mat-card-header>
        <img mat-card-image src="./assets/img/atari.jpg" alt="Atari">
        <mat-card-actions>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </mat-card-actions>
        <button mat-raised-button>Comprar</button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile><mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <mat-card-title>Estratégico</mat-card-title>
            <mat-card-subtitle>R$250,00</mat-card-subtitle>
          </div>
        </mat-card-header>
        <img mat-card-image src="./assets/img/estrategia.jpg" alt="Estratégia">
        <mat-card-actions>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </mat-card-actions>
        <button mat-raised-button>Comprar</button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile><mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <mat-card-title>Mario</mat-card-title>
            <mat-card-subtitle>R$350,00</mat-card-subtitle>
          </div>
        </mat-card-header>
        <img mat-card-image src="./assets/img/mario.jpg" alt="mario">
        <mat-card-actions>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </mat-card-actions>
        <button mat-raised-button>Comprar</button>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>