main{
    min-height: 500px;
    }

.carousel-item {
max-height: 700px;
}
.carousel-control {
    color: white;
    width: 15%;
    opacity: .5;
    opacity: .9;
    transition: .15s ease;
}

.carousel-indicator {
    width: 30px;
    height: 3px;
    height: 10px;
    padding: 3px;
    opacity: .5;
    touch-action: white;
    opacity: 1;
    transition: opacity .6s ease;
}

.carousel-caption {
    width: 70%;
    color: white;
    padding: 1.25rem;
    padding-top: 1.25rem;
}

.carousel-icon {
    width: 2rem;
    contain:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
    contain:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

.carousel-transition {
    animation: .6s;
    transition: ease-in-out;
    transform: 2s ease;
    opacity: .5s ease-out;
}

.example-header-image {
    width: 425px;
    background: cover;   
}

.example-card {
    max-width: 425px;
    height: fit-content;
}

.mat-grid-list{
    margin: 10px 0px;
    }